<style>
p {
  font-size: 15;
}
</style>
<!-- About sponsors Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3><b>{{ site.aboutSponsorsTitle }}</b></h3>
	    <hr>
	    <p>This event was partially funded by Science Foundation Ireland through the SFI Centre for Research Training in Genomics Data Science under Grant number 18/CRT/6214.
	    </p>
	    <hr>
	    {% for row in site.sposorsRows %}
            {% assign check = forloop.index0 | modulo:2 %}
            <div class="hackathon-row {% if check == 0 %}float-left{% else %}float-right{% endif %} col-md-12">
                <div class="hackathon-img-wrapper animated hiding" data-animation="{% if check == 0 %}fadeInLeft{% else %}fadeInRight{% endif %}" data-delay="0">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/hackathon/{{ row.image }}" alt="Hackathon">
                </div>
                <div class="hackathon-details animated hiding" data-animation="{% if check == 0 %}fadeInRight{% else %}fadeInLeft{% endif %}" data-delay="0">
                    <h4><b>{{ row.title }}</b></h4>
                    <p>{{ row.details }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End About sponsors Section -->