<!-- Begin abstract Section -->
<section id="tickets" class="tickets-2">
        <div class="content-wrapper">
                <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
                        <h4>Registration and abstract submissions are now closed :(</h3>
			<span class="tickets-info">Submissions dates are as follows: <br>
                 <ul>
                         <li>Talks: starting date - end date
                         <li>Posters: starting date - end date
                 </ul>
                 Submissions should fall under one of these research themes: Methods development and systems biology, Metagenomics and agrigenomics, Evolution and population genomics, and Health and disease genomics.
		 <br><br>
		 <!-- <a href="https://forms.gle/fa23NKbBYhAAZsKq6" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Submit an abstract</a></span> -->
                </div>
        </div>
</section>
<!-- End abstract Section -->