<!-- Begin coming soon Section -->
<section id="contact" class="contactUs">
        <div class="content-wrapper">
                <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
                        <h4>Registration Information Coming Soon.</h4>
                        <p>Contact as us at <a href="https://twitter.com/ICBG2022">Twitter</a> and <a href="https://www.linkedin.com/in/irish-computational-biology-and-genomics-symposium-308558217/">Linkedin.</a></p>
                        <p>or email us at: <a href="mailto:icbg@nuigalway.ie">icbg@nuigalway.ie</a> </p>
                </div>
        </div>
</section>
<!-- End coming soon Section -->