<!-- Begin coming soon Section -->
<section id="tickets" class="tickets-2">
        <div class="content-wrapper">
                <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
                        <h3>Registration is now open!</h3>
                        <h4>Abstract submissions are now open until Friday, 25th October, 2024.</h4>
                        <p>Registration is <b>free</b> for those who submit an abstract via our <a href="{{ site.abstractPortal }}">abstract portal</a> on Oxford Abstracts. Submitters will receive a code via email to redeem on our <a href="{{ site.eventbrite }}">EventBrite</a> page.</p>
                        <p>We will also be hosting a <b>social event</b> after the first day of the conference, 5th December! Tickets are also available for purchase on our EventBrite page.</p>
                        <style>
                        @media (max-width: 767px) {
                        .hidden-mobile {
                        display: none;
                        }
                        }
                        </style>
                         <style>
                        @media (min-width: 768px) {
                        .hidden-desktop {
                         display: none;
                        }
                        }
                        </style>
                        <div class="hidden-mobile"><iframe src="{{ site.eventbrite }}" width="900" height="500"></iframe></div>
                        <div class="hidden-desktop"><iframe src="{{ site.eventbrite }}" width="350" height="500"></iframe></div>
                        <br>
                        <p>Should you require more information, contact us at <a href="{{ site.twitterAccount }}">Twitter</a>, <a href="https://www.linkedin.com/in/vibe-icbg2024/">LinkedIn</a>, or email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                </div>
        </div>
</section>
<!-- End coming soon Section -->