<!-- Begin Twitter Feed Section -->
<section id="youtube-feed" class="youtube-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h2>MEET OUR GOLD SPONSORS</h2>
            <br />
            <h4>Oxford Nanopore</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RcP85JHLmnI" frameborder="0" allowfullscreen></iframe>
            </iframe>
            <br />
            <br />
            <h4>Systems Biology Ireland</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NaCFh0oVaxg" frameborder="0" allowfullscreen></iframe>
            </iframe>
            <br />
            <br />
            <h4>Brennan and Co</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hGuTjp4mwKw" frameborder="0" allowfullscreen></iframe>
            </iframe>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->