<!-- Begin Twitter Feed Section -->
<section id="youtube-feed" class="youtube-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h2>MEET OUR GOLD SPONSORS</h2>
            <p>Oxford Nanopore</p>
            <br />
            <iframe width="560" height="315" src="https://vimeo.com/showcase/9522622/video/337258910" frameborder="0" allowfullscreen></iframe>
            </iframe>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->