<!-- Begin Twitter Feed Section -->
<section id="youtube-feed" class="youtube-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h2>MEET OUR GOLD SPONSORS</h2>
            <br />
            <h4>Systems Biology Ireland</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NaCFh0oVaxg" frameborder="0" allowfullscreen></iframe>
            <br />
            <br />
            <h4>Parse Biosciences</h4>
            <iframe src="https://drive.google.com/file/d/1VivdoSGOsqa5zhM0n56GsrKiC6V-gN7K/preview" width="560" height="315" allow="autoplay" frameborder="0" allowfullscreen></iframe>
            <br />
            <br />
            <h4>CloudCIX</h4>
            <iframe src="https://drive.google.com/file/d/1kTxL8I3Q2213g_svHsqy48dA6HGAuI_A/preview" width="560" height="315" allow="autoplay" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->